* {
    text-align: center;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    color: black;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 500px;
    height: auto;
    border: 2px solid black;
}

body {
    background-color: greenyellow;
}

ul li {
    font-size: 20px;
    color: white;
    background-color: black;
}


ol li {
    font-size: 20px;
    color: black;
    background-color: black;
    color: blueviolet;
}

a {
    color: black;
    font-size: 20px;
}

h2,h3,h4 {
    background-color: red;
}

.yellow {
    color: yellow;
    background-color: black;
}

.description {
    background-color: wheat;
    width: 300px;
}

.foot {
    background-color: black;
}

.egg {
    background-color: yellow;
    padding: 10px;
    display: inline-block;
}
.mustard {
    display: block;
    background-color: yellowgreen;
}
